.main-image {
  float: left;
  display: flex;
  width: 300px;
  height: 400px;
  background-color: red;
  background-image: url(https://ww.namu.la/s/c25a9fdaa79b2198fb6fdd19d26dddc74c6e99c375efac7f70eda5e5d3823acacaef528d26ba0d7e40223f62aea0bbb66148cfe0b10be7222d26d08d6dd4d51fff4e8ed5046ad93129421eff5fea6ddb0f951cac15c8f77559606685d10f775ea645a7fbb0578c1f151329bc22f54982);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 50px;
}
.main {
  display: flex;
}

.style-recommendation {
  display: block;
}
